:root {
  font-family:
    Inter,
    "Noto Sans Bengali",
    "Segoe UI",
    Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
select {
  font-family: inherit;
}